@import "../styles/variables";
@import "../styles/mixins/breakpoints";

@mixin make-container() {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

#{$classPrefix}.container {
  @include make-container();
}

#{$classPrefix}.container-fluid {
  @include make-container();
}
