@import "../styles/variables";
@import "../styles/mixins/flexbox";

#{$classPrefix}.form .item {
  .input {
    flex-direction: row;
    .before, .after {
      @include flex;
      @include center;
    }
  }
  input {
    margin: 0;
    max-width: 100%;
    flex: 1;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: 4% 1%;
    background: #FFF;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    transition: color .1s ease, border-color .1s ease;
    box-shadow: 0 0 0 0 transparent inset;
    font-size: $font-size-base;
  }
}
