@import "../styles/variables";
@import "../styles/mixins/flexbox";

#{$classPrefix}.form {
  label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#{$classPrefix}.form.list {
  background: #FFF;
  padding-left: $spacing;
  border: $border-width solid $border-color;
  .item {
    border-bottom: $border-width solid $border-color;
    &:last-child {
      border-bottom: none;
    }
    input {
      border: none;
    }
  }
}

