@import "../styles/variables";

@mixin setColor($bgColor,$color) {
  color: $color;
  background-color: $bgColor;
}

#{$classPrefix}.button {
  padding: 11px 21px;
  font-size: $font-size-base;
  border-radius: 3px;
  border: none;
  outline: none;
  display: inline-block;

  &.default {
    @include setColor(rgba(224, 225, 226, 1), rgba(90, 90, 90, 1));

    &:hover {
      @include setColor(rgba(191, 191, 191, 1), rgba(66, 66, 66, 1));
    }
  }

  &.primary {
    @include setColor(#2185d0, #FFF);

    &:hover {
      @include setColor(#1678c2, #FFF);
    }
  }
}
