@import "variables";

html {
  box-sizing: border-box;
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

// Body

body {
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  text-align: left; // 3
}

//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

/*媒体查询*/
@media only screen {
  @media (min-width:320px) {
    html{ font-size:53.5%;}
  }
  @media (min-width:360px) {
    html{ font-size:60%;}
  }
  @media (min-width:375px) {
    html{ font-size:62.5%;}
  }
  @media (min-width:400px) {
    html{ font-size:66.5%;}
  }
  @media (min-width:450px) {
    html{ font-size:75%;}
  }
  @media (min-width:540px) {
    html{ font-size:90%;}
  }
}

.text-center {
  text-align: center;
}
