@import "../styles/variables";
@import "../styles/themes/default";

.menu {
  outline: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 45px;
  color: $textColor;
  .submenu {
    position: absolute;
    overflow: visible;
    z-index: 99999;
    min-width: 120px;
    text-align: center;
    top: 45px;
    left: -10px;
    display: none;
    background: $headerBgColor;
    .menu-item {
      display: list-item;
      font-size: 14px;
      color: $textColorWhite;
      &:hover, a:hover {
        color: $hoverTextColor
      }
    }
  }
}

.menu-horizontal {
}

.menu-item {
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 0 $spacing;
  display: inline-block;
  color: $textColorWhite;
  a {
    text-decoration: none;
    color: $textColorWhite;
  }
  &:hover, > a:hover {
    color: $hoverTextColor;
    .submenu {
      display: block;
    }
  }
}

.menuItem-selected {

}

.menuItem-disabled {
  cursor: not-allowed;
}

